body {
  background-color: #f9f7fe;
  font-family: "Lato", sans-serif;
}

.app {
  background-color: palegoldenrod;
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  box-shadow: #dfd3c3;
  border-radius: 16px;
}

a {
  color: lightcoral;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 75%;
  padding: 17px 18px;
  font-size: 16px;
}

.search-form-button {
  background-color: lightcoral;
  border: none;
  padding: 16px 27px;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  margin-left: 8px;
}
footer {
  margin: 6px;
  font-size: 15px;
  text-align: center;
  color: black;
}
